<template name="appLayout">
    <main id="container" style="margin-top: 20px">
        {{> time}}
        {{> weatherWidget}}
        <div class="site-container">
            {{#momentum plugin='flow-router'}}
                {{> Template.dynamic template=area}}
            {{/momentum}}
        </div>

        <div class="status-container">
            <h2 class="status" style="display: none;">Hi there!</h2>
        </div>
    </main>
</template>

<template name="contentWrapper">
    <div class="frt-fixed-content-wrapper">
        {{> UI.contentBlock}}
    </div>
</template>