body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}

.site-container {
    margin-top: 100px;
}

h1 {
    font-size: 5em;
    font-weight: 300;
}

h2 {
    font-size: 4em;
    font-weight: 200;
}

h3 {
    font-size: 3em;
    font-weight: 200;
}

h4 {
    font-size: 2.5em;
    font-weight: 200;
}

li {
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.frt-fixed-content-wrapper {
    top: 350px;
}

.status-container {
    position: absolute;
    bottom: 100px;
    left: 50%;
}

.status {
    position: relative;
    left: -50%;
}